*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family:arial;
}
* a{
  text-decoration:none;
 }
* li{
  list-style:none;
}
.container{
  position: relative;
  min-height: 100vh;
}
.bg{
  width: 100%;
  height: 100%;
  position: relative;
}
.bg::after{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:url('https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&w=400') ;
  z-index:-1;
  background-size:cover;
  background-position:center;
  filter: brightness(45%);
}
.menu{
  position: relative;
  width: 85%;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
}
.logo a{
  font-size:2rem;
  color: #fff;
}
.menu ul{
  display: flex;
}
.menu ul li{
  padding: 15px;
}
.menu ul li a{
  font-weight:bold;
  color: #fff;
  font-size:14px;
}
.content{
  width: 85%;
  margin: 0 auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.content .header, .grid-card{
  width: 50%;
  position: relative;
}
.content .header{
  color: #fff;
  padding: 20px;
}
.content .header h3{
  font-size:2.5rem ;
  letter-spacing:2px;
  font-weight:bold;
}
.content .header h3 i{
  color: orange;
}
.content .header h1{
  font-size:5rem;
}
.content .header p{
  opacity:.6;
}
.grid-card{
  display: grid;
  grid-template-columns:auto auto;
  grid-gap:25px;
}
.grid-card .box{
  width:100%;
  height: 230px;
  background-position:center;
  backgound-size:cover;
  border-radius:20px;
  position: relative;
  transition: .4s;
}
.bg1{
  background-image: url('https://images.pexels.com/photos/14394351/pexels-photo-14394351.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.bg2{
  background-image:url('https://images.pexels.com/photos/518543/pexels-photo-518543.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.bg3{
  background-image:url('https://images.pexels.com/photos/256559/pexels-photo-256559.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.bg4{
  background-image:url('https://images.pexels.com/photos/317356/pexels-photo-317356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.content .box h2{
  position:absolute;
  bottom: 7px;
  left: 12px;
  color: #fff;
}
content .box:hover{
  transform:translateY(-15px);
}
.header button{
  border: solid 1px #fff;
  background: none;
  color: #fff;
  font-size: 2.5rem;
  padding: 5px 15px;
  margin: 15px 0;
}
.header button:hover{
  background: #fff;
  color: #000;
}
